@{
    ViewData["Title"] = "Privacy Policy";
}


<body>
    <button type="submit" id="submitBtn"></button>

    <script>
        $(document).ready(function () {
            $('#submitBtn').click(function () {
                 alert('Clicked');
            });
        });
    </script>
</body>
